.box1 {
  width: 450px;
    height: 200px;
    background-color: rgba(38, 38, 41, 0.946);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .photo img {
    border-radius: 50%;
    border: 5px solid rgb(193, 168, 6);
  }
  .txt{
    font-family: cursive;
  }